@font-face {
	font-family: 'PFDinTextPro-Medium';
	src: url('../fonts/PFDinTextPro-Medium.eot');
	src: url('../fonts/PFDinTextPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinTextPro-Medium.woff') format('woff'),
		url('../fonts/PFDinTextPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextPro-Regular';
	src: url('../fonts/PFDinTextPro-Regular.eot');
	src: url('../fonts/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PFDinTextPro-Regular.woff') format('woff'),
		url('../fonts/PFDinTextPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.btn {
  padding: 16px 23px 16px 24px;
  font-family: 'PFDinTextPro-Regular';
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  background-color: #4eaf46;
}

@media (max-width: 324px) {
  .btn {
    text-align: center;
    font-size: 15px;
    padding: 15px 22px 15px 23px;
  }
}

.page-header {
  margin-bottom: 72px;
}

.page-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  padding-top: 60px;
  background: url('../img/header-bg.jpg') no-repeat;
  background-position: 30%;
  background-size: cover;
}

.page-header__logo {
  width: 199.4px;
  height: 138px;
  margin-bottom: 70.2px;
  background: url('../img/logo.png') no-repeat center;
  background-size: contain;
}

.page-header__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.page-header__min {
  text-align: center;
  font-family: 'PFDinTextPro-Regular';
  font-size: 28px;
  color: #ffffff;
}

.page-header__big {
  font-family: 'PFDinTextPro-Medium';
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}

.page-header__btn {
  margin-bottom: 112px;
}

.page-header__tick {
  width: 16px;
  height: 9px;
  background: url('../img/arrow.svg') no-repeat center;
}

@media (max-width: 768px) {
  .page-header {
    margin-bottom: 42px;
  }
}

@media (max-width: 500px) {
  .page-header-container {
    min-height: 400px;
  }

  .page-header__logo {
    width: 117.6px;
    height: 81.4px;
    margin-bottom: 24px;
  }

  .page-header__text {
    margin-bottom: 40px;
  }

  .page-header__min {
    font-size: 20px;
  }

  .page-header__big {
    text-align: center;
    font-size: 25px;
  }

  .page-header__btn {
  margin-bottom: 62px;
  }

  .page-header__tick {
    margin-bottom: 18px;
  }
}

.page-header__footer {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 80px;
  padding-right: 3%;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);
}

.page-header__footer-logo {
  width: 117.6px;
  height: 81.4px;
  background: url('../img/logo.png') no-repeat center;
  background-size: contain;
}

.page-header__footer-text {
  margin-top: 17px;
  font-family: 'PFDinTextPro-Medium';
 }

.page-header__footer-min {
  font-size: 22px;
}

.page-header__footer-big {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

.page-header__footer-btn {
  height: 53px;
  margin-top: 15px;
}

@media (max-width: 820px) {
  .page-header__footer-min {
  font-size: 18px;
}

.page-header__footer-big {
  font-size: 20px;
  }
}

@media (max-width: 768px) {
  .page-header__footer {
    display: none;
  }
}

.features {
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: 'PFDinTextPro-Regular';
}

.features-title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
  color: #000000;
}

.features__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 139px;
  width: 200px;
  margin-bottom: 30px;
}

.features__item-icon {
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  background-size: contain;
}

.features__item-icon-1 {
  background: url('../img/1.svg') no-repeat center;
}

.features__item-icon-2 {
  background: url('../img/2.svg') no-repeat center;
}

.features__item-icon-3 {
  background: url('../img/3.svg') no-repeat center;
}

.features__item-icon-4 {
  background: url('../img/4.svg') no-repeat center;
}

.features__item-text {
  width: 184px;
  text-align: center;
}

.video-container {
  display: flex;
  max-width: 1024px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.video-container__video {
  flex-shrink: 0;
  width: 498px;
  height: 258px;
  margin-right: 30px;
}

.video-container__desk {
  padding-top: 52px;
}

.video-container__text {
  margin-bottom: 48px;
  font-family: 'PFDinTextPro-Medium';
  font-size: 28px;
  font-weight: 500;
  line-height: 1.32;
  color: #000000;
}

.video-container__text-br {
  display: none;
}

@media(max-width: 1050px) {

  .video-container {
    padding: 0 2.5%;
  }

  .video-container__video {
    margin-right: 2.5%;
  }
}

@media(max-width: 850px) {
  .video-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .video-container__desk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video-container__text-br {
    display: block;
  }

  .video-container__video {
    margin-right: 0;
  }

  .video-container__text {
    text-align: center;
  }
}

@media(max-width: 515px) {
  .video-container__video {
    width: 100%;
    height: 56.25vw;
  }

  .video-container__desk {
    padding-top: 22px;
  }

  .video-container__text {
    margin-bottom: 32px;
    font-size: 22px;
  }
}

.leroy-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  min-height: 141px;
  margin-bottom: 100px;
  background: url('../img/splitter.jpg');
  background-size: contain;
}

.leroy-desk__text {
  max-width: 480px;
  margin: 0 auto;
  font-family: 'PFDinTextPro-Regular';
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 750px) {
  .leroy-desk {
    margin-bottom: 50px;
  }
}

.requirements {
  margin-bottom: 70px;
}

.requirements-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 2%;
}

.requirements__desc {
  margin-right: 30px;
}

.requirements__title {
  margin-bottom: 40px;
  font-family: 'PFDinTextPro-Medium';
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.requirements__list {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  list-style: none;
}

.requirements__list-item {
  position: relative;
  margin-bottom: 20.5px;
  padding-left: 32px;
  font-family: 'PFDinTextPro-Regular';
  font-size: 18px;
  color: #000000;
}

.requirements__list-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4eaf46;
}

.requirements__map {
  flex-shrink: 0;
  width: 406px;
  height: 178px;
  background: url('../img/globus.png') no-repeat center;
  background-size: contain;
}

@media (max-width: 750px) {
  .requirements {
    margin-bottom: 45px;
  }

  .requirements-container {
    flex-direction: column-reverse;
  }

  .requirements__map {
    margin-bottom: 32px;
  }

  .requirements__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .requirements__title {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .requirements__title {
    font-size: 26px;
  }
}

.requirements-big-foto a {
  display: block;
  height: 501px;
  max-width: 1024px;
  margin: 0 auto;
  background: url('../img/work.jpg') no-repeat center;
  background-size: cover;
  background-position: 1%;
}

.btn-detail {
  display: none;
}

@media (max-width: 650px) {
  .btn-detail {
    display: block;
    padding: 16px 17px 16px;
    font-family: 'PFDinTextPro-Medium';
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #494949;
  }

  .requirements-big-foto a {
    display: none;
  }
}

@media (max-width: 1024px) {
  .requirements-big-foto a {
    width: 100%;
    height: 49vw;

  }
}

.page-footer {
  min-height: 344px;
  padding-top: 60px;
  font-family: 'PFDinTextPro-Medium';
  background: #2e2e2e;
}

.page-footer__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 3%;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.page-footer__desc-text {
  margin-bottom: 48px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.page-footer-btn {
  display: inline;
  width: 257.2;
}

.page-footer__socials {
  max-width: 250px;
}

.page-footer__socials-text {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
}

.page-footer__socials-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 250px;
  min-height: 30px;
}

.page-footer__socials-item {
  width: 30px;
  height: 30px;
}

.fb {
  background: url('../img/facebook.svg') no-repeat center;
}

.inst {
  background: url('../img/instagram.svg') no-repeat center;
}

.vk {
  background: url('../img/vk.svg') no-repeat center;
}


.you {
  background: url('../img/youtube-play.svg') no-repeat center;
}

.ok {
  background: url('../img/ok.svg') no-repeat center;
}

.page-footer__line {
  height: 1px;
  margin-bottom: 41px;
  background-color: #9e9e9e;
}

.page-footer__copyright {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 550px) {

  .page-footer {
    padding-top: 35px;
  }
  .page-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .page-footer__desc-text {
    text-align: center;
  }

  .page-footer__socials-text {
    text-align: center;
  }

  .page-footer__line {
    width: 100%;
    height: 1px;
  }

  .page-footer__copyright {
    margin-bottom: 35px;
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;

  transform: translateY(-100%);
  transition: transform 0.3s ease;
  will-change: transform;
}

  .sticky {
    transform: translateY(0);
  }



